body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 45px;
}

.name-highlight{
    color: orange;
}

.p-large{
    font-size: 30px;
    color: orangered;
}
.half-weidth{
    width: 40%;
    float: left;
    padding: 5%;
    
}

.half-weidth img{
    width: 100%;
}