body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 45px;
}

.name-highlight{
    color: orange;
}

.p-large{
    font-size: 30px;
    color: orangered;
}
.half-weidth{
    width: 40%;
    float: left;
    padding: 5%;
    
    
}

.half-weidth img{
    width: 60%;
}



.top-banner{
    background-image: url("../images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}


.text-button{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #999;
}

.text-button:hover {background-color: #3e8e41}

.half-width{
    width: 40%;
    float: left;
    padding: 5%;
   
    
    
}
.half-width img{
    width: 100%;
}
.half-2ndwidth{
    width: 35%;
    float: left;
    padding: 5%;

}

.bottom-banner{
    background-image: url("../images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right ;
}